<div class="alert alert-danger" ng-show="error">
    There was a problem with registering in. Please try again.
</div>
<form role="form" ng-submit="controller.login()">
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text"
               class="form-control" id="username" login="username" ng-model="controller.credentials.username"/>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password"
               class="form-control" id="password"  ng-model="controller.credentials.password"/>
    </div>
    <div class="form-group">
        <label for="password_again">Retype password:</label>
        <input type="password"
               class="form-control" id="password_again" ng-model="controller.credentials.password_again"/>
    </div>
    <div class="form-group">
        <label for="email">E-mail:</label>
        <input type="text"
               class="form-control" id="email" ng-model="controller.credentials.email"/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>